{% extends 'base.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block navbar %}

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BlOogGiNg.COm</a>
        </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/accounts/loggedin/">Home</a></li>
      <li><a href="/accounts/loggedin/">Profile</a></li>
      <li><a href="/posted/">New Post</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="active"><a href="#">starred</a></li>
          <li><a href="#">trash</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Dropdown header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="left"><a href="#">{{ request.user.username }}</a></li>
            <li class="left"><a href="/accounts/logout/">Logout</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
        </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->
{% endblock %}

{% block body %}
     
    <div class="container marketing">
      
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h2>{{ blog.title|title }}</h2>
            <hr>
        <p>{{ blog.description|capfirst|safe }} </p>

              <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
          </div>
        </div><!--/row-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
            <ul class="nav">
              <li>Sidebar</li>
              <li class="active"><a href="#">Change Password??</a></li>
              <li><a href="/update/{{ blog.id }}/edit/">edit</a></li>
              <li><a href="#">Link</a></li>
              <li>Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->
    </div>

 {% endblock %}